<form role="search" method="get" class="search-form" action="{{site.url}}">
    <div class="input-field">
        <input name="s" type="text" required="required">
        <label for="s">Enter search.</label>
    </div>
    <!-- div class="input-field">
        <input name="s" type="submit" class="btn waves waves-effect-light" value="Search">
    </div -->
</form>