{% extends "base.twig" %}
{% block content %}
<div class="card-panel">
{% if title %}
    <h5>{{title}}</h5>
{% endif %}
</div>
<div class="row">
    <div class="col s12 m4">
        {% if posts %}
        {% for post in posts %}
        	{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        {% endfor %}
        {% else %}
        <p>No results found.</p>
        {% endif %}
        {% include 'pagination.twig' %}
    </div>
</div>
{% endblock %}
{% block footer %}
{{ parent() }}
{% include 'masonry-js.twig' %}
{% endblock %}